- var ext = minified ? ".min" : '';

//- document
doctype html
html
    head
        title NinjaFit Gym
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href=`https://fonts.googleapis.com/css?family=Titillium+Web` rel="stylesheet")
        link(href=`https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css` rel="stylesheet")
        link(href=`./css/main${ext}.css` rel="stylesheet")
        script(async type="text/javascript" src=`./js/main${ext}.js`)

    body
        div#app